body {
    text-align:center;
    height: 100%;
    width: 100%;
    background-image: url("https://images.nintendolife.com/a5a2fe7e5b10e/1280x720.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#pokedex{
    margin: auto;
    background-image: url("https://pbs.twimg.com/profile_images/1870947834/pokedex1.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    width: 300px;
    text-align:center;
}

#search {
    position: absolute;
    margin: 178px 0px 0px -115px;
    background-color: yellow;
    width: 45px;
    height: 20px;
}

#searchButon{
    position: absolute;
    margin: 154px 0px 0px -135px;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png");
    background-size: 95%;
    background-color: white;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#searchButon:hover{
    width: 21px;
    height: 21px;
    background-color: whitesmoke;
}

.pokemonContainer{
    display: grid;
    grid-template-areas:
    'menu header header'
    'menu main footer'
    'menu types types'
}
.pokemonsname{
    grid-area: header; 
    border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 67px 0px 0px 67px;
  width: 90px;
  font-size: 10px;
  text-align: center;

   
}
.pokemonsheight{
    grid-area: main; 
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 5px 0px 0px 65px;
    width: 45px;
    font-size: 8px;
    text-align: center;
  
}
.pokemonsweight{
    grid-area: footer; 
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 5px 1000px 0px 0px;
    width: 45px;
    font-size: 8px;
    text-align: center;
  
}
.pokemonTypesList{
    grid-area: types; 
    margin: 75px 100px 0px 25px;
    width: 300px;
    font-size: 10px;
    text-align: right;
    display: flex;
 
    
}
.pokemonType{
    list-style: none;
    margin: 17px -135px 0px 35px;
    width: 45px;
    font-size: 10px;
    text-align: left;
    cursor:pointer;

}
.pokemonsimage{
    grid-area: menu;
    margin: 50px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    
 
}
.pokemonList{
    text-align: left;
  
    background-color: white;
    border: 2px solid rgb(255, 0, 0);
    margin: -150px 0px 0px 220px;
    width: 400px;

}

.pokemonListItem{
    cursor:pointer;
    list-style: none;
    font-size: 10px;
    margin: 0px 0px 0px -35px;
}

.pokemonListItem:hover{
    background-color: wheat;
    border: 1px solid rgb(255, 0, 0);
}


